@import url(https://fonts.googleapis.com/css?family=Lato:100,300|Open+Sans+Condensed:300);
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #9e9e9e !important; }

.radius-0 {
  border-radius: 0 !important; }

.margin-b-0 {
  margin-bottom: 0 !important; }

.margin-t-0 {
  margin-top: 0 !important; }

.padding-left-right-15px {
  padding: 0 15px !important; }

.padding-15 {
  padding: 15px !important; }

/* ===================================
    Margin
====================================== */
.margin-one {
  margin-top: 1% !important;
  margin-bottom: 1% !important; }

.margin-two {
  margin-top: 2% !important;
  margin-bottom: 2% !important; }

.margin-three {
  margin-top: 3% !important;
  margin-bottom: 3% !important; }

.margin-four {
  margin-top: 4% !important;
  margin-bottom: 4% !important; }

.margin-five {
  margin-top: 5% !important;
  margin-bottom: 5% !important; }

.margin-six {
  margin-top: 5% !important;
  margin-bottom: 0 !important; }

.margin-seven {
  margin-top: 7.8% !important;
  margin-bottom: 5% !important; }

.margin-eight {
  margin-top: 8% !important;
  margin-bottom: 8% !important; }

.margin-nine {
  margin-top: 9% !important;
  margin-bottom: 9% !important; }

.margin-ten {
  margin-top: 10% !important;
  margin-bottom: 10% !important; }

.margin-eleven {
  margin-top: 22% !important;
  margin-bottom: 22% !important; }

.margin-right-four {
  margin-right: 4% !important; }

.margin-right-five {
  margin-right: 5% !important; }

.margin-right-six {
  margin-right: 6% !important; }

.margin-right-seven {
  margin-right: 7% !important; }

.margin-right-eight {
  margin-right: 8% !important; }

.margin-right-nine {
  margin-right: 9% !important; }

.margin-right-ten {
  margin-right: 10% !important; }

.margin-top-section {
  margin-top: 96px; }

.margin-left-right-one {
  margin-right: 6% !important;
  margin-left: 6% !important; }

.margin-two-bottom {
  margin-bottom: 2% !important; }

.margin-four-bottom {
  margin-bottom: 4% !important; }

.margin-five-bottom {
  margin-bottom: 5% !important; }

.margin-ten-bottom {
  margin-bottom: 10% !important; }

.no-margin {
  margin: 0 !important; }

.no-margin-lr {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

.margin-bottom {
  margin-bottom: 60px; }

md-input-container {
  width: 100% !important; }
